@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --custom-blue: rgb(87 126 184);
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
}

.list-group-item {
  min-height: 45px;
}

.card {
  min-height: 150px;
  &-blue {
    background-color: var(--custom-blue);
  }
}